BODY {
	FONT-FAMILY:"Palatino Linotype","Book Antiqua",Palatino,serif;
	BACKGROUND:#666;
	COLOR:#222;
	FONT-SIZE:14px;
}
IMG {
	BORDER:none;
}
#container {
	Z-INDEX:10000;
	POSITION:absolute;
	BACKGROUND-COLOR:#666;
	WIDTH:100%;
	DISPLAY:block;
	TOP:0px;
	LEFT:0px
}
#header {
	BORDER-BOTTOM:#0a3052 2px solid;
	PADDING:1.5em 0px 0px;
	MARGIN:0px auto;
	WIDTH:822px;
	DISPLAY:block;
	BACKGROUND:#1878cf;
	COLOR:#eee;
}
DIV.title {
	PADDING:0px 2em;
	MARGIN-BOTTOM:0.5em;
	CLEAR:both;
	FONT-SIZE:26px;
}
#header A {
	PADDING-RIGHT:5px;
	COLOR:rgb(222,235,247);
	FONT-SIZE:85%
}
.nav {
	PADDING:0px 2em 0.5em;
	BACKGROUND:#125a9c;
	BORDER-TOP:#1267b8 2px solid;
}
#content {
	BORDER-BOTTOM:#999 2px solid;
	TEXT-ALIGN:left;
	PADDING:0px 2em 0.5em;
	BACKGROUND-COLOR:#fff;
	MARGIN:0em auto;
	WIDTH:766px;
}
#content IMG {
	VERTICAL-ALIGN:top
}
#content A {
	COLOR:blue;
	TEXT-DECORATION:underline
}
#content A:visited {
	COLOR:gray
}
#content * {
	BORDER:none;
	MARGIN:16px auto;
	BACKGROUND:none transparent scroll repeat 0% 0%;
}
#content H1 {
	BORDER-BOTTOM:#333 1px solid;
	WIDTH:100%;
	DISPLAY:block;
	FONT-SIZE:1.2em
}
#content BLOCKQUOTE {
	BORDER:#dfdfdf 1px solid;
	PADDING:2em;
	BACKGROUND:#ffffe8;
	COLOR:#666;
	MARGIN-LEFT:3em;
	MARGIN-RIGHT:3em;
}
#content PRE {
	FONT-SIZE:85%
}
#content CODE {
	FONT-SIZE:85%
}
#footer {
	BORDER-BOTTOM:#0a3052 4px solid;
	TEXT-ALIGN:center;
	PADDING:1em 2em;
	LINE-HEIGHT:1.4em;
	BACKGROUND-COLOR:#888;
	MARGIN:0em auto;
	WIDTH:766px;
}
#footer A {
	PADDING:0.1em 0.5em;
	MARGIN:0em 1em;
	TEXT-OVERFLOW:ellipsis;
	DISPLAY:inline-block;
	MAX-WIDTH:100px;
	WHITE-SPACE:nowrap;
	COLOR:#fff;
	FONT-SIZE:90%;
	OVERFLOW:hidden;
}
#footer A:visited {
	COLOR:#fff
}
BODY {
	overflow-x:hidden
}
#container {
	min-width:890px
}
#content {
	position:absolute;
	top:0;
	left:34px;
	padding-bottom:0;
	overflow:hidden
}
#content_wrap {
	width:890px;
	margin:0 auto;
	position:relative
}
#novelnav {
	position:fixed;
	margin-left:860px;
	top:150px;
	width:30px;
	height:226px;
	background:#bbb/*#125A9C*/;
	padding:1px 2px;
	_position:absolute;
	_bottom:auto;
	_top:expression(eval(document.documentElement.scrollTop));
}
#novelnav A,#novelnav SPAN {
	display:block;
	width:30px;
	margin:1px 0 0 0;
	height:30px;
	line-height:30px;
	text-align:center;
}
#novelnav A {
	background:#1878CF;
	color:#fff;
	text-decoration:none
}
#novelnav A:hover {
	background:#0A6AB1
}
#novelnav A.prevchapter,#novelnav A.nextchapter {
	height:60px
}
#novelnav A.toc {
	background:url(icon.png) 3px 5px #888 /*#1878CF*/ no-repeat
}
#novelnav A.toc:hover {
	background:url(icon.png) 3px 5px #0A6AB1 no-repeat
}
#novelnav A.prevchapter {
	margin-top:6px;
	background:url(icon.png) 3px -46px #888/*#1878CF*/ no-repeat
}
#novelnav A.prevchapter:hover {
	margin-top:6px;
	background:url(icon.png) 3px -46px #0A6AB1 no-repeat
}
#novelnav A.nextchapter {
	margin-bottom:6px;
	background:url(icon.png) 3px -100px #888 /*#1878CF*/ no-repeat
}
#novelnav A.nextchapter:hover {
	margin-bottom:6px;
	background:url(icon.png) 3px -100px #0A6AB1 no-repeat
}
#novelnav SPAN {
	background:#fff;
	color:#888 /*#125A9C*/
}
#footer {
	margin-left: -28px
}