#header { width:100%; font-size:18px; margin:0px; padding:0px; background-color:#fff;}
#header .nav { display:none; }
#header { width:100%; font-size:12px;margin:0px;padding:0px;background-color:#fff; }